#
# EvoSC# Base Config
#

# The type of database to use. Available types: PostgreSql, MySql, SQLite
EVOSC_DATABASE_TYPE=PostgreSql

# Address to the database
EVOSC_DATABASE_HOST=127.0.0.1

# Port of the database
EVOSC_DATABASE_PORT=5432

# The name of the database
EVOSC_DATABASE_NAME=evosc

# Name of the user to access the database
EVOSC_DATABASE_USERNAME=evosc

# Password of the user to access the database
EVOSC_DATABASE_PASSWORD=evosc

# A string prefix to add to all table names
EVOSC_DATABASE_TABLEPREFIX=

# Possible values lowest to highest verbosity: none, critical, error, warning, information, debug, trace
EVOSC_LOGGING_LOGLEVEL=debug

# Whether to output logs to the console in JSON.
EVOSC_LOGGING_USEJSON=False

# Address to the Trackmania server
EVOSC_SERVER_HOST=127.0.0.1

# Port that the XMLRPC is listening to
EVOSC_SERVER_PORT=5000

# Username of the super admin account
EVOSC_SERVER_USERNAME=SuperAdmin

# Password of the super admin account
EVOSC_SERVER_PASSWORD=SuperAdmin

# If enabled, the client will try to reconnect with the server every 1 second until a connection is established
EVOSC_SERVER_RETRYCONNECTION=True

# Path to the maps folder
EVOSC_PATH_MAPS=

# Default match settings file
EVOSC_PATH_DEFAULTMATCHSETTINGS=example.txt

# Signature verification of module's files. If enabled and verification fails, the module will not load.
EVOSC_MODULES_REQUIRESIGNATUREVERIFICATION=True

# Directories to scan for external modules.
EVOSC_MODULES_MODULEDIRECTORIES=System.String[]

# Modules that will not load on startup. Note that if a module depend on a disabled module, it will load anyways.
EVOSC_MODULES_DISABLEDMODULES=

# The default display language of the controller. Must be a "language tag" as found here: https://learn.microsoft.com/en-us/openspecs/windows_protocols/ms-lcid/a9eac961-e77d-41a6-90a5-ce1a8b0cdb9c
EVOSC_LOCALE_DEFAULTLANGUAGE=en

EVOSC_THEME=



#
# Module Config Options
#


## Module "RecordsModule"  v1.0.0 with Settings "PlayerRecordSettings" ##

# How to send a message about a new PB.
EVOSC_RECORDSMODULE_ECHOPB_PLAYERRECORDSETTINGS_=None



## Module "CurrentMapModule"  v1.0.1 with Settings "CurrentMapSettings" ##

# Specifies the Y position of the widget.
EVOSC_CURRENTMAPMODULE_Y_CURRENTMAPSETTINGS_=80

# Specifies the width of the widget.
EVOSC_CURRENTMAPMODULE_WIDTH_CURRENTMAPSETTINGS_=36

# Specifies on which side the widget is displayed.
EVOSC_CURRENTMAPMODULE_POSITION_CURRENTMAPSETTINGS_=right



## Module "MotdModule"  v1.0.0 with Settings "MotdSettings" ##

# The URL from which the controller fetches the motd.
EVOSC_MOTDMODULE_MOTDURL_MOTDSETTINGS_=

# The interval in which the motd gets fetched from the server.
EVOSC_MOTDMODULE_MOTDFETCHINTERVAL_MOTDSETTINGS_=600000

# The locally stored Motd text if it should not be fetched from a server.
EVOSC_MOTDMODULE_MOTDLOCALTEXT_MOTDSETTINGS_=This is the Motd!

# Indicator if the locally stored motd should be used.
EVOSC_MOTDMODULE_USELOCALMOTD_MOTDSETTINGS_=True



## Module "OpenPlanetModule"  v1.1.0 with Settings "OpenPlanetControlSettings" ##

# Allowed signature types: Regular, DevMode, Official, Competition
EVOSC_OPENPLANETMODULE_ALLOWEDSIGNATUREMODES_OPENPLANETCONTROLSETTINGS_=Regular, Official, TMGL

# Time to wait before kicking the player.
EVOSC_OPENPLANETMODULE_KICKTIMEOUT_OPENPLANETCONTROLSETTINGS_=30

# Enable continous check of the signature mode of the player while they are on the server.
EVOSC_OPENPLANETMODULE_CONTINUOUSCHECKSENABLED_OPENPLANETCONTROLSETTINGS_=False

# Number of milliseconds to wait between the continous checks.
EVOSC_OPENPLANETMODULE_CHECKINTERVAL_OPENPLANETCONTROLSETTINGS_=5000

# Enable checking of the signature mode of a player when they join.
EVOSC_OPENPLANETMODULE_SIGNATUREMODECHECKENABLED_OPENPLANETCONTROLSETTINGS_=True

# Allow the use of openplanet. If false, no signature mode is allowed.
EVOSC_OPENPLANETMODULE_ALLOWOPENPLANET_OPENPLANETCONTROLSETTINGS_=True

# The minimum required OpenPlanet version to play on this server.
EVOSC_OPENPLANETMODULE_MINIMUMREQUIREDVERSION_OPENPLANETCONTROLSETTINGS_=1.26.25

# Enable auditing of all checks.
EVOSC_OPENPLANETMODULE_AUDITALLCHECKS_OPENPLANETCONTROLSETTINGS_=True

# Enable auditing of players that got jailed.
EVOSC_OPENPLANETMODULE_AUDITJAILS_OPENPLANETCONTROLSETTINGS_=True



## Module "MatchTrackerModule"  v1.0.0 with Settings "TrackerSettings" ##

# Whether to start tracking matches automatically.
EVOSC_MATCHTRACKERMODULE_AUTOMATICTRACKING_TRACKERSETTINGS_=False

# Whether to automatically end a match when the EndMatch section is detected.
EVOSC_MATCHTRACKERMODULE_AUTOMATICMATCHEND_TRACKERSETTINGS_=True

# Whether to store match state changes immediately instead of waiting until the match ends.
EVOSC_MATCHTRACKERMODULE_IMMEDIATESTORING_TRACKERSETTINGS_=True

# Record end of map states.
EVOSC_MATCHTRACKERMODULE_RECORDENDMAP_TRACKERSETTINGS_=True

# Record end of match states.
EVOSC_MATCHTRACKERMODULE_RECORDENDMATCH_TRACKERSETTINGS_=True

# Record end of round states.
EVOSC_MATCHTRACKERMODULE_RECORDENDROUND_TRACKERSETTINGS_=True

# Record pre end of match states.
EVOSC_MATCHTRACKERMODULE_RECORDENDMATCHEARLY_TRACKERSETTINGS_=False

# Keep pre end of round states.
EVOSC_MATCHTRACKERMODULE_RECORDPREENDROUND_TRACKERSETTINGS_=False



## Module "NextMapModule"  v1.0.0 with Settings "NextMapSettings" ##

# Specifies the Y position of the widget.
EVOSC_NEXTMAPMODULE_Y_NEXTMAPSETTINGS_=80

# Specifies the width of the widget.
EVOSC_NEXTMAPMODULE_WIDTH_NEXTMAPSETTINGS_=36

# Specifies on which side the widget is displayed.
EVOSC_NEXTMAPMODULE_POSITION_NEXTMAPSETTINGS_=right



## Module "LocalRecordsModule"  v1.0.0 with Settings "LocalRecordsSettings" ##

# Max of rows to show in the local records widget.
EVOSC_LOCALRECORDSMODULE_MAXWIDGETROWS_LOCALRECORDSSETTINGS_=10

# Always show top N players in the widget.
EVOSC_LOCALRECORDSMODULE_WIDGETSHOWTOP_LOCALRECORDSSETTINGS_=3

# Maximum number of local records to keep track of per map.
EVOSC_LOCALRECORDSMODULE_MAXRECORDSPERMAP_LOCALRECORDSSETTINGS_=100
