#
# EvoSC# Base Config
#

# The type of database to use. Available types: PostgreSql, MySql, SQLite
EVOSC_DATABASE_TYPE=PostgreSql

# Address to the database
EVOSC_DATABASE_HOST=127.0.0.1

# Port of the database
EVOSC_DATABASE_PORT=5432

# The name of the database
EVOSC_DATABASE_NAME=evosc

# Name of the user to access the database
EVOSC_DATABASE_USERNAME=evosc

# Password of the user to access the database
EVOSC_DATABASE_PASSWORD=evosc

# A string prefix to add to all table names
EVOSC_DATABASE_TABLEPREFIX=

# Possible values lowest to highest verbosity: none, critical, error, warning, information, debug, trace
EVOSC_LOGGING_LOGLEVEL=debug

# Whether to output logs to the console in JSON.
EVOSC_LOGGING_USEJSON=False

# Address to the Trackmania server
EVOSC_SERVER_HOST=127.0.0.1

# Port that the XMLRPC is listening to
EVOSC_SERVER_PORT=5000

# Username of the super admin account
EVOSC_SERVER_USERNAME=SuperAdmin

# Password of the super admin account
EVOSC_SERVER_PASSWORD=SuperAdmin

# If enabled, the client will try to reconnect with the server every 1 second until a connection is established
EVOSC_SERVER_RETRYCONNECTION=True

# Path to the maps folder
EVOSC_PATH_MAPS=

# Default match settings file
EVOSC_PATH_DEFAULTMATCHSETTINGS=example.txt

# Signature verification of module's files. If enabled and verification fails, the module will not load.
EVOSC_MODULES_REQUIRESIGNATUREVERIFICATION=True

# Directories to scan for external modules.
EVOSC_MODULES_MODULEDIRECTORIES=System.String[]

# Modules that will not load on startup. Note that if a module depend on a disabled module, it will load anyways.
EVOSC_MODULES_DISABLEDMODULES=

# The default display language of the controller. Must be a "language tag" as found here: https://learn.microsoft.com/en-us/openspecs/windows_protocols/ms-lcid/a9eac961-e77d-41a6-90a5-ce1a8b0cdb9c
EVOSC_LOCALE_DEFAULTLANGUAGE=en

EVOSC_THEME=



#
# Module Config Options
#


## Module "RecordsModule" with Settings "PlayerRecordSettings" v1.0.0 ##

# How to send a message about a new PB.
EVOSC_PLAYERRECORDSETTINGS_RECORDSMODULE_ECHOPB=None



## Module "CurrentMapModule" with Settings "CurrentMapSettings" v1.0.1 ##

# Specifies the Y position of the widget.
EVOSC_CURRENTMAPSETTINGS_CURRENTMAPMODULE_Y=80

# Specifies the width of the widget.
EVOSC_CURRENTMAPSETTINGS_CURRENTMAPMODULE_WIDTH=36

# Specifies on which side the widget is displayed.
EVOSC_CURRENTMAPSETTINGS_CURRENTMAPMODULE_POSITION=right



## Module "MotdModule" with Settings "MotdSettings" v1.0.0 ##

# The URL from which the controller fetches the motd.
EVOSC_MOTDSETTINGS_MOTDMODULE_MOTDURL=

# The interval in which the motd gets fetched from the server.
EVOSC_MOTDSETTINGS_MOTDMODULE_MOTDFETCHINTERVAL=600000

# The locally stored Motd text if it should not be fetched from a server.
EVOSC_MOTDSETTINGS_MOTDMODULE_MOTDLOCALTEXT=This is the Motd!

# Indicator if the locally stored motd should be used.
EVOSC_MOTDSETTINGS_MOTDMODULE_USELOCALMOTD=True



## Module "OpenPlanetModule" with Settings "OpenPlanetControlSettings" v1.1.0 ##

# Allowed signature types: Regular, DevMode, Official, Competition
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_ALLOWEDSIGNATUREMODES=Regular, Official, TMGL

# Time to wait before kicking the player.
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_KICKTIMEOUT=30

# Enable continous check of the signature mode of the player while they are on the server.
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_CONTINUOUSCHECKSENABLED=False

# Number of milliseconds to wait between the continous checks.
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_CHECKINTERVAL=5000

# Enable checking of the signature mode of a player when they join.
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_SIGNATUREMODECHECKENABLED=True

# Allow the use of openplanet. If false, no signature mode is allowed.
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_ALLOWOPENPLANET=True

# The minimum required OpenPlanet version to play on this server.
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_MINIMUMREQUIREDVERSION=1.26.25

# Enable auditing of all checks.
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_AUDITALLCHECKS=True

# Enable auditing of players that got jailed.
EVOSC_OPENPLANETCONTROLSETTINGS_OPENPLANETMODULE_AUDITJAILS=True



## Module "MatchTrackerModule" with Settings "TrackerSettings" v1.0.0 ##

# Whether to start tracking matches automatically.
EVOSC_TRACKERSETTINGS_MATCHTRACKERMODULE_AUTOMATICTRACKING=False

# Whether to automatically end a match when the EndMatch section is detected.
EVOSC_TRACKERSETTINGS_MATCHTRACKERMODULE_AUTOMATICMATCHEND=True

# Whether to store match state changes immediately instead of waiting until the match ends.
EVOSC_TRACKERSETTINGS_MATCHTRACKERMODULE_IMMEDIATESTORING=True

# Record end of map states.
EVOSC_TRACKERSETTINGS_MATCHTRACKERMODULE_RECORDENDMAP=True

# Record end of match states.
EVOSC_TRACKERSETTINGS_MATCHTRACKERMODULE_RECORDENDMATCH=True

# Record end of round states.
EVOSC_TRACKERSETTINGS_MATCHTRACKERMODULE_RECORDENDROUND=True

# Record pre end of match states.
EVOSC_TRACKERSETTINGS_MATCHTRACKERMODULE_RECORDENDMATCHEARLY=False

# Keep pre end of round states.
EVOSC_TRACKERSETTINGS_MATCHTRACKERMODULE_RECORDPREENDROUND=False



## Module "NextMapModule" with Settings "NextMapSettings" v1.0.0 ##

# Specifies the Y position of the widget.
EVOSC_NEXTMAPSETTINGS_NEXTMAPMODULE_Y=80

# Specifies the width of the widget.
EVOSC_NEXTMAPSETTINGS_NEXTMAPMODULE_WIDTH=36

# Specifies on which side the widget is displayed.
EVOSC_NEXTMAPSETTINGS_NEXTMAPMODULE_POSITION=right



## Module "LocalRecordsModule" with Settings "LocalRecordsSettings" v1.0.0 ##

# Max of rows to show in the local records widget.
EVOSC_LOCALRECORDSSETTINGS_LOCALRECORDSMODULE_MAXWIDGETROWS=10

# Always show top N players in the widget.
EVOSC_LOCALRECORDSSETTINGS_LOCALRECORDSMODULE_WIDGETSHOWTOP=3

# Maximum number of local records to keep track of per map.
EVOSC_LOCALRECORDSSETTINGS_LOCALRECORDSMODULE_MAXRECORDSPERMAP=100
